<% @services.each do |service| %>
<div class="service">
	<h4>
		<a href="<%= service.url %>"><%= service.name %></a>
		<br/>Web Service Status: <%= service.valid_service ? "<span class='ok'>Ok</span>" : "<span class='nok'>Nok</span>" %>
		<% if not service.valid_service %>
			<br/>Code: <%= service.res_code %>
			<br/>Message: <%= service.res_msg %>
		<% else %>
			<br/>Parking names and order: <%= service.parsed_data.parking_names_validated ? "<span class='ok'>Ok</span>" : "<span class='nok'>Nok</span>" %>
			<br/>Number of parkings: <%= service.parsed_data.number_of_parkings_validated ? "<span class='ok'>Ok</span>" : "<span class='nok'>Nok</span>" %>
		<% end %>
	</h4>
</div>
<% end %>
